// Place all the styles related to the artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.row img {
  height: 300px;
  margin: auto;
  padding: 15px;
  border-style: solid;
}

#preview {
  background-color: #443C3C;
  padding: 40px;
  border-right: 50px;
}

#preview h2 {
  text-decoration: overline;
  color: #F9F3F3;
}

#buttom_details{
  margin-top: 30px;
  margin-bottom: 30px;
}
